<h1><%= @user.username %></h1>

    <p>Profile picture: <%= image_tag @profile.image.medium.url %></p>
    <p>Email: <%= @user.email %></p>
    <p>About me: <%= @profile.bio %></p>

  <% if @profile.location %>
    <p><%= render @profile.location %></p>

  <% else %>
    <p>Add a location?</p>
    <%= link_to "add location", new_location_path(name: "profile") %>
  <% end %>


  <% if @profile.subjects.count >= 1 %>
    <p><%= render @profile.subjects %></p>
    <p><%= link_to "add another subject", new_subject_path(name: "profile") %></p>
    <% else %>
    <p>Add some subjects!</p>
      <%= link_to "add subjects", new_subject_path(name: "profile") %>
  <% end %>

<%= link_to "Back", home_path %>
