<h1>Dashboard</h1>

<% if signed_in? && @user.profile.bio %>
  <h3></h3>
  <p>Hey <%= @user.username %></p>
  <p><%= @daily_quote %></p>
  <hr>
  <% elsif signed_in? && @user.profile.bio == nil %>
  <h3>Hey! Why not fill out a profile and connect with other students?</h3>
   <%= link_to "Set up profile", new_profile_path %>
  <hr>
  <% else %>
  <p><%= link_to "Sign up", new_user_path %> to Study Chat and connect with your fellow learners</p>
  <hr>

  <% end %>


  <%= render @users %>
