<h1>Location New</h1>
<%= form_for @location do |f| %>
  <p><%= f.text_field :address, placeholder: "address" %></p>
  <p><%= f.text_field :suburb, placeholder: "suburb" %></p>
  <p><%= f.text_field :state, placeholder: "state" %></p>
  <p><%= f.text_field :country, placeholder: "country" %></p>
  <p><%= f.text_field :postcode, placeholder: "postcode" %></p>

  <%= submit_tag "Submit", name: params[:name] %>
  <% end %>
